.container,
.content,
#create-employee,
.address{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.select{
    width: 100%;
}

.dropdown, .datepicker{
    margin: 10px 0 !important;
}

.address{
    margin: 10px 0;
    padding: 0 10px 10px;
    width: 100%;
}
.datepickers{
    margin-top: 20px;
}